<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your posts</title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="container posts">
        <div class="posts-heading flex">
            <h1>View your posts</h1>
            <button class="login-btn" style="background-color: darkblue;">Add new post</button>
        </div>

        <div class="user-posts">
            <h1 class="post-title">This is my post title</h1>
            <p class="post-content">This is my post content Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ipsum ex perspiciatis doloremque tempora delectus quae?</p>
            <div class="post-buttons flex">
                <button class="login-btn" style="background-color: rgb(18, 163, 18);">Edit post</button>
                <button class="login-btn" style="background-color: red;">Delete post</button>
            </div>
        </div>
        <div class="user-posts">
            <h1 class="post-title">This is my post title</h1>
            <p class="post-content">This is my post content Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ipsum ex perspiciatis doloremque tempora delectus quae?</p>
            <div class="post-buttons flex">
                <button class="login-btn" style="background-color: rgb(18, 163, 18);">Edit post</button>
                <button class="login-btn" style="background-color: red;">Delete post</button>
            </div>
        </div>
        <div class="user-posts">
            <h1 class="post-title">This is my post title</h1>
            <p class="post-content">This is my post content Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ipsum ex perspiciatis doloremque tempora delectus quae?</p>
            <div class="post-buttons flex">
                <button class="login-btn" style="background-color: rgb(18, 163, 18);">Edit post</button>
                <button class="login-btn" style="background-color: red;">Delete post</button>
            </div>
        </div>
        <div class="user-posts">
            <h1 class="post-title">This is my post title</h1>
            <p class="post-content">This is my post content Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ipsum ex perspiciatis doloremque tempora delectus quae?</p>
            <div class="post-buttons flex">
                <button class="login-btn" style="background-color: rgb(18, 163, 18);">Edit post</button>
                <button class="login-btn" style="background-color: red;">Delete post</button>
            </div>
        </div>
    </div>


</body>

</html>